@page "/"
@using Server;
@inject Greeter.GreeterClient greeterClient

<h1>Hello, world!</h1>

Welcome to your new app.

<p>
    <input @bind="yourName" placeholder="Type your name" />
    <button @onclick="GetGreeting" class="btn btn-primary">Call gRPC service</button>
</p>

Server response: <strong>@serverResponse</strong>

@code{
    string yourName = "John";
    string serverResponse;

    async Task GetGreeting()
    {
        var request = new HelloRequest { Name = yourName };
        var reply = await greeterClient.SayHelloAsync(request);
        serverResponse = reply.Message;
    }
}